 /* Template feito pela Ross (https://rossresources.tumblr.com/)
 Historico feito por Remenuf
 Adaptado por Mizzu*/

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&display=swap');

#pirataz {
  --colorp: #8B0000;
  --bg-color: none;
  --text-color: #525252;
  --efect: invert(10%) sepia(64%) saturate(4428%) hue-rotate(353deg) brightness(108%) contrast(119%);
  width: 520px;
  padding: 5px 0px;
  background-color: var(--bg-color);
  border-radius: 15px;
}

#pirataz .titulo {
  color: var(--colorp);
  font: 900 70px/100% 'Raleway';
  letter-spacing: -4px;
  text-transform: uppercase;
  text-align: center;
  word-break: break-word;
}

#pirataz .efeito {
  height: 80px;
  background: var(--bg-color);
  clip-path: polygon(65% 0, 100% 35%, 100% 100%, 0 100%, 0 35%);
  margin-top: -78px;
}

#pirataz .efeitodois {
  height: 80px;
  background: var(--bg-color);
  clip-path: polygon(67% 0, 100% 55%, 100% 100%, 0 100%, 0 38%);
  margin-top: -93px;
  opacity: 0.8;
}
#pirataz .pp {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 100%;
  border: 12px solid var(--bg-color);
  position: relative;
  z-index: 1;
  left: -100px;
  margin-top: -45px;
}

#pirataz .posicao {
  position: relative;
  z-index: 1;
  left: 30px;
  margin-top: -30px;
}

#pirataz .posicao .linha {
  width: 100px;
  height: 8px;
  border-radius: 5px;
  background: var(--colorp);
  display: inline-block;
}

#pirataz .posicao .bola {
  position: relative;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background: var(--colorp);
  left: 65px;
}

#pirataz .posicao .boladois {
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background: var(--colorp);
  left: 335px;
  opacity: 0.5;
  margin-top: -8px;
}

#pirataz .texto {
  margin: 20px 40px 0px;
  color: var(--text-color);
  text-align: justify;
  font: 12px/150% 'Be Vietnam Pro', sans-serif;
  letter-spacing: .5px;
  word-break: break-word;
}

falaBlaze {
  color: var(--colorp);
  font-weight: bold; 
  
}

pensaBlaze {
  font-style: italic;
  color: var(--colorp);
 font-weight: bold;
}
falaimg {
  min-height: 70px;
  margin: 0px 15px 0px 15px;
  display: flex;
  justify-content: left;
  align-items: center;
  color: var(--colorp);
  font-weight: bold; 
  
}
falaimgblaze {
  float: left;
  width: 70px;
  height: 70px;
  line-height: 50px;
  background-image: url('/d2a3ee69f4cefa1a38c7ab6b550f69e2.jpg');
  background-size: cover;
  background-position: center;
  border-radius: 100%;
  margin: 0px 10px 0px 10px;
}

falamatt {
  min-height: 70px;
  margin: 0px 15px 0px 15px;
  display: flex;
  justify-content: left;
  align-items: center;
  color: #292929;
  font-weight: bold; 
  
}
falaimgmatt {
  float: left;
  width: 70px;
  height: 70px;
  line-height: 50px;
  background-image: url('/d2a3ee69f4cefa1a38c7ab6b550f69e2.jpg');
  background-size: cover;
  background-position: center;
  border-radius: 100%;
  margin: 0px 10px 0px 10px;
}
