.runa {
  color: #000;
  cursor: pointer;
  display: none;
}
.texr:hover + div {
  display: block;
}
.imgr {
  -webkit-filter: invert(68%) sepia(18%) saturate(5046%) hue-rotate(176deg) brightness(101%) contrast(88%);
  cursor: pointer;
}
