@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&family=Prata&display=swap');

.fundo {
  width: 530px;
  min-height: 500px;
  background-color: #232323;
  position: relative;
  padding: 20px;
}

.simbolo {
  width: 120px;
  height: 120px;
  background-color: none;
  margin-right: 10px;
  margin-left: -35px;
  border-right-style: solid;
  border-color: white;
  border-width: 1px;
  display: inline-block;
}

.descricao {
  width: 330px;
  height: 120px;
  background-color: none;
  display: inline-block;
}

.img {
  width: 456px;
  height: 123px;
  background-image: url(https://cdn.discordapp.com/attachments/834061150667931678/940356501187489882/unknown.png);
  border: 1px solid white;
}

.texto {
  width: 500px;
  min-height: 100px;
  padding-right: -10;
  padding: 15px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  font-family: Helvetica;
  text-align: justify;
  color: white;
  font-size: 13px;
}
.textodes {
  margin-top: 25px;
  text-align: left;
  font-family: 'Prata', serif;
  text-transform: uppercase;
  position: absolute;
  letter-spacing: 0px;
}

pri{
  font-size: 15px;
  color: white;
}

seg{
  font-size: 14px;
  color: white;
}

ter{
  font-size: 11px;
  color: white;
}

qua {
  font-size: 11px;
  color: white;
}

.agent {
  width: 120px;
  height: 120px;
  background-color: none;
  border-left-style: solid;
  border-color: white;
  border-width: 1px;
  display: inline-block;
}

flot{
  float: right;
}

.deschover {
  width: 290px;
  min-height: 20px;
  background-color: none;
  display: inline-block;
}

.tit {
  text-transform: uppercase;
  letter-spacing: 0px;
  font-size: 45px;
  font-family: 'Prata', serif;
  color: white;
}

fundo{
  font-size: 10px;
  font-family: Helvetica;
  text-transform: capitalize;
}

.boxx{
  width: 95px;
  background-color: none;
  display: flexbox;
  float: left;
  margin-top: 35px;
}

.box {
  width: 28px;
  height: 28px;
  background-color: white;
  margin-bottom: 4px;
  display: inline-block;
}