@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');

#narrador {
    width: 600px;
    min-height: 500px;
    background-color: none;
    position: relative;
    padding: 10px;
}


#narrador .iinicio {
    width: 600px;
    height: 160px;
    background-color: none;
    position: relative;
    padding: 0%;
    display: block;
}

#narrador .infoum{
  width: 99px;
  height: 80px;
  background-color: none;
  color: white;
  font-family: League Gothic;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: inline-block;
  top: 40px;
  float: left;
  position: relative;
}

#narrador .bg {
    width: 400px;
    height: 160px;
    background-image: url(https://i.imgur.com/VuaC79V.png);
    background-size: cover; 
    background-position: center center;
    display: inline-block;
    border: 1px solid white;
}

#narrador .infodois{
    width: 99px;
    height: 80px;
    background-color: none;
    color: white;
    font-family: League Gothic;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: inline-block;
    top: 5px;
    float: right;
    position: relative;
}

#narrador .infodois .sol{
    width: 80px;
    height: 80px;
    background-image: url(https://i.imgur.com/754m4Mc.png);
}

#narrador .infodois .chuva{
    width: 80px;
    height: 80px;
    background-image: url(https://i.imgur.com/ZLcp2tG.png);
}

#narrador .infodois .garoa{
    width: 80px;
    height: 80px;
    background-image: url(https://i.imgur.com/hwipWAx.png);
}

#narrador .infodois .noite{
    width: 80px;
    height: 80px;
    background-image: url(https://i.imgur.com/OkRUP8Z.png);
}

#narrador .infodois .luacheia{
    width: 80px;
    height: 80px;
    background-image: url(https://i.imgur.com/Vrm6sne.png);
}

#narrador .infodois .chuvaforte{
    width: 80px;
    height: 80px;
    background-image: url(https://i.imgur.com/aK4hY4Z.png);
}

#narrador .infodois .frio{
    width: 80px;
    height: 80px;
    background-image: url(https://i.imgur.com/I9SJHnf.png);
}

#narrador .legendas{
    width: 600px;
    height: 90px;
    background-color: none;
    display: block;
    margin-top: 10px;
    color: white;
    font-family: League Gothic;
    text-transform: uppercase;
    letter-spacing: 2px;
}

titulo {
    font-size: 40px;
}

subtitulo {
    font-size: 17px;
    top: -8px;
    position: relative;
}

#narrador .tex{
  width: 500px;
  min-height: 300px;
  background-color: none;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  font-family: Helvetica;
  text-align: justify;
  color: white;
  font-size: 14px;
}

#narrador .desc{
  width: 500px;
  min-height: 100px;
  background-color: none;
}
