@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');

#mizzu {
  width: 400px;
  padding-right: 200px;
  min-height: 500px;
  background-color: none;
  color: #FFF;
  font-family: Helvetica;
  font-size: 13px;
  position: relative;
}

#mizzu .texto {
background-color: none;
position: relative;
width: 400px;
min-height: 750px;
color: #FFF;
text-align: justify;
}

#mizzu .ficha {
width: 200px;
height: 100%;
background-color: none;
position: absolute;
top: 0px;
right: 0px;
z-index: 2;
border-left: 1px solid white;
}

#mizzu .ficha .perfilhp {
  font-family: League Gothic;
  font-size: 20px;
  display: inline-block;
  margin-right: 60px;
  top: -38px;
  position: relative;
}

#mizzu .ficha .perfilsp {
  font-family: League Gothic;
  font-size: 20px;
  display: inline-block;
  margin-left: -10px;
  top: -38px;
  position: relative;
}

#mizzu .ficha .perfilnome {
  font-family: League Gothic;
  font-size: 32px;
  top: -32px;
  position: relative;
  text-transform: uppercase;
  letter-spacing: 2px;
}
#mizzu .ficha .perfilsub {
  font-family: League Gothic;
  font-size: 14px;
  top: -38px;
  position: relative;
  text-transform: uppercase;
  letter-spacing: 2px;
}

#mizzu .ficha .perfilsobre {
  width: 150px;
  font-family: League Gothic;
  font-size: 18px;
  top: -505px;
  position: relative;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 20px;
  text-decoration: line-through;
}

#mizzu .ficha .finalft {
  position: absolute;
  bottom: 100px;
}

#mizzu .ficha .ftf {
  position: relative;
  text-align: center;
  margin-left: 65px;
  color: #FFF;
}

#mizzu .ficha .finalf {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 10px;
}

#mizzu .finalf img{
  margin: auto;
  position: relative;
}

#mizzu .texto .textotitulo {
  font-family: League Gothic;
  font-size: 32px;
  top: 10px;
  position: relative;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
}

#mizzu .texto .textosubtitulo {
  font-family: League Gothic;
  font-size: 25px;
  top: -5px;
  position: relative;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
}

#mizzu .texto .textopost {
  font-family: League Gothic;
  font-size: 15px;
  top: -10px;
  position: relative;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
}

#mizzu .texto .posttexto {
  width: 350px;
  min-height: 200px;
  padding-right: -10;
  padding: 10px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  font-family: Helvetica;
  text-align: justify;
  color: white;
  font-size: 13px;
  margin-bottom: 15px;
}
#mizzu .texto .info {
  padding: 0px 10px 5px 15px;
}

fala{
  font-weight: bold;
  color: #B0C4DE;
  text-shadow: 0 0 0.2em #000, 0 0 0.2em #000;
}

pensa{
  font-style: italic;
  color: #B0C4DE;
  text-shadow: 0 0 0.2em #000, 0 0 0.2em #000;
}
